In [1]:
import pandas as pd

df = pd.read_excel('formating_excel_with_python.xlsx')
df

         Item    Cost
0        Rent  6000.0
1         Gas  1650.0
2        Food  5000.0
3         tax     NaN
4  Light Bill  2000.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
Item    5 non-null object
Cost    4 non-null float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes

In [3]:
df.style.highlight_max()

In [4]:
df.style.highlight_min()

In [5]:
df.style.highlight_null()

In [6]:
margin_threshold = 5000

df_format = df.style.apply(lambda x: ['background-color:red' if x < margin_threshold \
                                      else 'background-color:green' for x in df['Cost']], axis=0)

df_format

In [7]:
def color_negative_red(val):
    color = 'red' if val < margin_threshold else 'green'
    return 'color: %s' % color

df_styled = df.style.applymap(color_negative_red, subset=['Cost'])
df_styled

In [8]:
import seaborn as sns

cm = sns.light_palette("red", as_cmap=True)

s = df.style.background_gradient(cmap=cm)
s

C:\Users\sanji\Anaconda3\lib\site-packages\matplotlib\colors.py:527: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1

In [9]:
df.style.set_properties(**{'background-color': 'yellow',
                           'color': 'purple',
                           'border-color': 'red'})

In [10]:
df.style.bar(subset=['Cost'], color='#d65f5f')